<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">

  <%= f.label :service, class: "form-label" %>
  <div class="input-group mb-3">
    <%= f.text_field :name, placeholder: "Enter service name", class: 'form-control', id: "inlineFormInputGroup" %>
     <div class="input-group-append">
      <div class="input-group-text rounded-start-0"><button type="button" data-action="nested-form#remove", class='btn btn-close'></button></div>
    </div>
  </div>

  <%= f.hidden_field :_destroy %>
</div>
