<div><%= link_to "New business", new_business_path %></div>

<div class="d-flex flex-wrap p-5 justify-content-center">
  <% @businesses.each do |business| %>
    <div class="border border-1">
      <div class="fs-5 fw-semibold p-4"><%= business.name %></div>
      <div class="p-4"> <%= link_to "Show this business", business %> </div>
    </div>
  <% end %>
</div>
