<div class="d-flex flex-column p-5 m-auto w-40rem mt-5 shadow">
  <h3 class="text-center">Create your business</h3>
  <%= render "form", business: @business %>
</div>

<br>

<div>
  <%= link_to "Back to businesses", businesses_path %>
</div>
