<div>
  <p>Hi <%= name %>!</p>

  <p>Did you read my previous email?</p>

  <p>Hope you're well. I wanted to follow up on my previous email about boosting your online presence with a professionally designed website.</p>

  <p>I didn't hear back from you or anyone on your team.</p>

  <p>If it makes sense to talk further, let me know how your calendar looks for the next few weeks for a 5-10 minute call.</p>

  <p>If not, who is the appropriate person for me to speak to?</p>

  <p>Thanks for your help.</p>
  <div>Looking forward to hearing from you!</div>  
</div>
