<div style="font-family: Arial, sans-serif;">
  <!-- Body -->
  <%= @body.html_safe %>

  <!-- Footer -->
  <br/>
  <div>
    <div style="margin-bottom: 8px"><%= @business.name %></div>
    <div><%= @business.tag_line %></div>
  </div>
</div>