<div style="color: black">
  <!-- Body -->
  <div>
    <div>
      <div style="padding: 1rem 1rem 1rem 0;">Hi <strong>testing email </strong></div>
    </div>
  </div>

  <!-- Footer -->
  <div><h3> THANKS FOR USING Your Tech Buddies </h3>
</div>