<div>
  <p>Hi {NAME}!</p>

  <p>Do you have any updates on this matter? Please let us know.</p>

  <p>After this, we will not be following up on it any further.</p>

  <p>Have a great day!</p>
</div>
