<div id="error_messages">
  <% if object.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(object.errors.count, "error") %> prohibited this business from being saved:</h4>
      <ul>
        <% object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
