<div id="flash-toast">
  <%= render 'toast_notification' %>
</div>

<div class="center-div">
  <h3>Send Emails</h3>

  <div class="text-start", id="form-container">
    <%= render 'data_form' %>
  </div>
</div>
