<div>
   <p>Hey {NAME}!</p>

    <p>I know you're busy, just wanted to make sure this didn't get buried.</p>

    <p>In case you are not interested, just reply with 'No' so I don't follow up.</p>

    <p>Thanks! Have a great day.</p>

    <p>Cheers</p>
    <div>Your Tech Buddies | Your IT Partner</div>
</div>
