<p>Hello <%= @email %>!</p>

<p>We're thrilled to have you onboard. To ensure that we have the correct email address and to activate your account, please click the button below:</p>

<p><%= link_to 'Confirm My Email Address', confirmation_url(@resource, confirmation_token: @token), class: 'button' %></p>

<p>If you didn't request this confirmation, you can safely ignore this email.</p>

<p>Thank you! <br> Team @ Your Tech Buddies</p>
