<p>Hello <%= @resource.email %>!</p>

<p>We're reaching out to inform you that your password has been successfully changed. If you initiated this change, you can disregard this message.</p>

<p>If you did not change your password, please contact our support team immediately to secure your account.</p>

<p>Thank you for choosing our service!</p>

<p>Sincerely,<br>
Team @ Your Tech Buddies</p>
