<p>Hello <%= @resource.email %>!</p>

<p>We regret to inform you that your account has been temporarily locked due to an unusual number of unsuccessful sign-in attempts. This is a precautionary measure to ensure the security of your account.</p>

<p>If you believe this lock is in error or have any concerns, please contact our support team immediately.</p>

<p>To regain access to your account, please click the link below:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

<p>Thank you for your understanding and cooperation.</p>

<p>Sincerely,<br> Team @ Your Tech Buddies</p>
